div.header{
    text-align:right;
    width:100%;
    margin-bottom:10px;
}

div.bloco{
    width: 150px; 
    height:150px;
    border: 1px #ddd solid;
    padding:1px;
    cursor:pointer;
    display:inline-block;
    margin: 15px;
}

table.bloco{
    border-collapse:collapse;
    position:relative;
    left:27%;
}
table.bloco, td{
    border: 1px #ccc solid;
}
table.bloco tr{
}
table.bloco td{
    width:7px;
    height:2px;
}
table.bloco td div{
    width:7px;
    height:2px;
    padding:0px;
    margin:0px;

}
