div.todo{
}

iframe{
    width:100%;
    height:100%;
    border:0px;
}

div.pedaco{
    float:left;
    display:inline-block;
    padding: 5px;
}

div.left, div.right{
    width:49%;
    height:100%;
}

div.busca{
    width:100%;
    height:200px;
    border: 1px #ccc solid;
}

div.busca iframe{
    height:170px;
}

div.bloco_atual{
    width:100%;
    height:324px;
}

div.bloco_atual iframe{
    height:100%;
}

div.blocos_busca{
    width:100%;
    height:400px;
    border: 1px #ccc solid;
}

div.blocos_busca iframe{
    height:400px;
}

div.informacoes{
    width:100%;
}

div.informacoes iframe{
    height:300px;
}

table.bloco{
    background: #f0f0f0;
    font-size:14px;
    text-align:center;
    border-collapse:collapse;
    position:relative;

}

.hoved{
    background:#ccc;
}

table.bcadeiras{
    border-collapse:collapse;
}

table.bcadeiras td{
    background: #f0f0f0;
    border-bottom: 1px #aaa solid;
}

table.bcadeiras tr:hover{
    cursor:pointer;
}

table.bcadeiras tr td input:hover{
    cursor:pointer;
}


table.bcadeiras tr.selecionado td{
    background: #EDFF6B;
    border-bottom: 1px #aaa solid;
}

table.bloco, table.bloco td{
    border: 1px #ccc solid;
}

table.bloco th{
    border: 1px solid black;
    padding: 0px;
    margin:0px;
}
table.bloco td{
    border: 1px solid black;
    padding: 0px;
    margin:0px;
}
