html {
	background: #555 url('../images/pagebg.png') top left repeat-x;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

a {
	color: #286571;
}

#header {
	height: 132px;
	margin: 10px 10px 0 10px;
}

#header h1 {
	padding: 0;
	margin: 0;
	padding-top: 30px;
	padding-left: 180px;
	color: #fff;
	position: relative;
	font-size: 36px;
}

#header h1 .subtitle {
	font-size: 60%;
	position: absolute;
	left: 240px;
	top: 70px;
}

ul#mainmenu {
	margin: 0;
	padding: 0 10px;
	height: 15px;
}

ul#mainmenu li {
	list-style-type: none;
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
	vertical-align: middle;
	line-height: 15px;
	position: relative;
}

ul#mainmenu li span {
	color: #3fa1ad;
	float: left;
	padding: 0 5px;
}

ul#mainmenu li a {
	color: #fff;
	float: left;
	height: 31px;
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

ul#mainmenu li a:hover, ul#mainmenu li a.active {
}

ul#mainmenu li.first a {
	background: none;
}

ul#mainmenu li.first a:hover, ul#mainmenu li.first a.active {
}

ul#mainmenu li.loginlogout
{
	float: right;
	right: 10px;
}

ul#mainmenu li.loginlogout a:hover {
}

#content {
	background: #fff; 
	margin : 0 10px 10px 10px;
	padding: 0 10px;
	overflow: hidden;
    width: 97%;
}

#content .currentpage {
	margin-top: 0;
}

/* Sidebar */

.sidebar {
	border: 1px solid #cce;
	background-color: #eee;
	margin: 0.5em;
	margin-left: 1.5em;
	padding: 1em;
	float: right;
	width: 200px;
	font-size: 88%;
}

.sidebar h2 {
	margin-top: 0;
	color: black;
}

.sidebar ul {
	margin-left: 1.5em;
	padding-left: 0;
}

#sb_top {
	clear: right;
}

#sb_bottom {
	clear: right;
}

#getting_started {
	margin-left: 20px;
}

#getting_started_steps a {
	text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
	margin-bottom: 0.5em;
}

/* Other and footer */

#footer {
	background: #fff;
	padding: 10px;
	color:#888888;
	font-size:90%;
}

.flogo {
	float: left;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
}

.foottext p {
	margin: 0; padding: 0;
}

.code {
	font-family: "Lucida Console","Lucida Sans Typewriter",monospace;
}

span.code {
background: #eee none repeat scroll 0% 0%;
}

#flash, .notice {
	font-size: 120%;
	font-weight: bolder;
	margin: 0pt auto 0.5em;
	width: 680px;
}
#flash div, .notice {
	padding: 20px 15px 20px 65px;
}
#flash .ok {
	background: #d8ecd8 url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
	background: #fff483 url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
	background: #f9c5c1 url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
	background: #eef url(../images/info.png) no-repeat scroll 10px center;
}

.notice {
	background: #eef url(../images/info.png) no-repeat scroll 10px center;
}

.fielderror {
	color: red;
	font-weight: bold;
}

div.clearingdiv {
	clear: both;
}
